<!doctype html>

{% load staticfiles %}

<html lang="en">
<head>

    <title> Panaroma </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto|Satisfy|Ubuntu" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

</head>
<body>

<!--Navigation Bar-->
<nav class="navbar navbar-expand-md navbar-light bg-dark sticky-top">
<div class="container-fluid">

<a class="navbar-brand" href="/" style="color: white;">Panaroma</a>

<ul class="navbar-nav ml-auto">

    {% if user.is_authenticated %}

        <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.username }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'post' %}">Post Article</a>
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>

        <!--
        <li class="nav-item">
            <a href = "{% url 'post' %}">
                <button type="button" class="btn btn-outline-primary btn-sm">
                    <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Article
                </button>
            </a>
        </li>
        <li class="nav-item">
            <a href = "{% url 'logout' %}"><button type="button" class="btn btn-outline-warning btn-sm">Logout</button></a>
        </li>
        -->

    {% else %}
        <li class="nav-item">
            <a href = "{% url 'login' %}"><button type="button" class="btn btn-outline-success btn-sm">Log In</button></a>
        </li>
    {% endif %}
</ul>
</nav>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% block page %}
{% endblock %}

<script src="{% static 'javascript/main.js' %}"></script>
</body>
</html>