{% extends 'layout.html' %}

{% block page %}

<div class = "logout">

    <div class="alert alert-danger" role = "alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      You are <strong> logged out </strong> of your account!
    </div>

    <div class = "border-top pt-3">
        <samll class = "text-muted">
            You can return to <a href = "{% url 'home' %}"> Home </a> page or 
            You can <a href = "{% url 'login' %}"> Log In </a> again.
        </small>
    </div>

</div>

{% endblock %}